$bodyBackground:		#193441;
$containerBackground:	#3e606f;
$mainTextColor:  		#d1dbbd;
$orangeTextColor:		#fecb92;
$centerMargin:			0 auto;
$containerPadding:		2em;
$mainSansFont:			Helvetica, Arial, sans-serif;