$color-primary: #D4746A;
$color-secondary: #FFB2AA;
$basic-font-size: 16px;
$container-width: 800px;
$container-padding: 15px;
$col-padding: 8px;
$col3-width: (calc($container-width / 3) - ($col-padding*2));